// {{ ansible_managed }}

{% if primary_zones is defined %}
{% for zone in primary_zones.files %}
zone "{{ zone.path|replace("/etc/named/primaries/db.", "") }}" {
        type master;
        file "{{ zone.path }}";
};
{% endfor %}
{% endif %}

