// {{ ansible_managed }}

acl "may_query" { 127.0.0.1/8; };
acl "may_recursion" { 127.0.0.1/8; };
acl "may_transfer" { };

options {
        listen-on port 53 { 127.0.0.1; };
        listen-on-v6 port 53 { ::1; };
        directory       "/var/named";
        dump-file       "/run/named/cache_dump.db";
        statistics-file "/run/named/named_stats.txt";
        memstatistics-file "/run/named/named_mem_stats.txt";
        allow-query     { may_query; };
        allow-recursion { may_recursion; };
        allow-transfer  { may_transfer; };

        recursion no;

        dnssec-enable yes;
        dnssec-validation yes;

        /* Path to ISC DLV key */
        bindkeys-file "/etc/named.iscdlv.key";

        managed-keys-directory "/var/named/dynamic";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "/run/named/named.run";
                severity dynamic;
        };
};

zone "." IN {
        type hint;
        file "named.ca";
};

include "/etc/named/named.primary_zones";
include "/etc/named/named.secondary_zones";
include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
