// {{ ansible_managed }}

acl "may_query" {
{% if allow_query is defined %}
{% for cidr in allow_query %}
        {{ cidr }};
{% endfor %}
{% endif %}
};

acl "may_recursion" {
{% if allow_recursion is defined %}
{% for cidr in allow_recursion %}
        {{ cidr }};
{% endfor %}
{% endif %}
};

acl "may_transfer" {
{% if allow_transfer is defined %}
{% for cidr in allow_transfer %}
        {{ cidr }};
{% endfor %}
{% endif %}
};

options {
{% for listen in listen_on %}
        listen-on port {{ listen.port }} {
{% for cidr in listen.interfaces %}
                {{ cidr }};
{% endfor %}
        };
{% endfor %}
{% for listen in listen_on_v6 %}
        listen-on-v6 port {{ listen.port }} {
{% for cidr in listen.interfaces %}
                {{ cidr }};
{% endfor %}
        };
{% endfor %}
        directory       "/var/named";
        dump-file       "/run/named/cache_dump.db";
        statistics-file "/run/named/named_stats.txt";
        memstatistics-file "/run/named/named_mem_stats.txt";
        allow-query     { may_query; };
        allow-recursion { may_recursion; };
        allow-transfer  { may_transfer; };

        recursion {% if recursion %}yes{% else %}no{% endif %};

        dnssec-enable yes;
        dnssec-validation yes;

        /* Path to ISC DLV key */
        bindkeys-file "/etc/named.iscdlv.key";

        managed-keys-directory "/var/named/dynamic";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "/run/named/named.run";
                severity dynamic;
        };
};

zone "." IN {
        type hint;
        file "named.ca";
};

include "/etc/named/named.primary_zones";
include "/etc/named/named.secondary_zones";
include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
