// {{ ansible_managed }}

{% if slave_zones is defined %}
{% for zone in slave_zones %}
zone "{{ zone.name }}" {
        type slave;
        file "slaves/db.{{ zone.name }}";
        masters { {{ zone.masters|join("; ") }}; };
};
{% endfor %}
{%endif %}

{% if slave_zone_list is defined and master_servers is defined %}
{% for zone in slave_zone_list %}
zone "{{ zone }}" {
        type slave;
        file "slaves/db.{{ zone }}";
        masters { {{ master_servers|join("; ") }}; };
};
{% endfor %}
{%endif %}
